.group-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 100px;
    margin-bottom: 20px;
    border: solid black 1px;
    border-radius: 10px;
    background-color: rgb(220, 250, 253);
}
#group-details {
    width: 80%;
}
#group-buttons {
    width: 20%;
}
#group-details, #group-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}