.group-container {
    display: flex;
    padding: 10px;
    height: 100px;
    margin-bottom: 20px;
    background-color: yellow;
}
#group-details {
    width: 80%;
}
#group-buttons {
    width: 20%;
}
#group-details, #group-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}