* {
  padding: 0;
  margin: 0;
}
/* COLOR THEMES*/
:root {
  --pallette-one: #363f74; 
  --pallette-one-hover: #5664af;
  --pallette-two: rgb(51, 114, 110);
  --pallette-two-hover: rgb(119, 198, 193);
  --pallette-three: #663982; 
  --pallette-three-hover: #9862b9; 
  --pallette-four: orange;
  --pallette-four-hover: rgb(229, 199, 144);
  --error: #dc143c; 
  --success: #3df505; 
}
/* APP */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App {
  opacity: 0;
  animation: fade-in 2s linear 0.5s 1 normal forwards;
}
/* NAV BAR */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: white;
  z-index: 99;
}
.nav-bar-logged-in {
  background-color: var(--pallette-two);
}
.nav_buttons {
  margin: 0 10px;
}
.logo {
  font-size: 45px;
  margin: 15px 40px;
  font-family: 'Fredoka One', cursive;
  border: none;
  cursor: pointer;
  color: var(--pallette-one);
  text-shadow: 4px 4px rgba(6, 199, 216, 0.5);
  background-color: transparent;
}
.logo-logged-in {
  color: white;
  text-shadow: 4px 4px var(--pallette-one);
}
.button-v1, .button-v2, .button-v3  {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.button-v1 {
  color: var(--pallette-two);
  border: none;
  margin-right: 10px;
  background-color: transparent;
}
.button-v2 {
  color: white;
  margin-right: 20px;
  background-color: var(--pallette-two);
}
.button-v3 {
  color: var(--pallette-two);
  background-color: white;  
}
.button-v2:hover {
  background-color: var(--pallette-two-hover);
}
.spacer {
  height: 150px;
  position: relative;
}