.grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    margin: 0 auto 50px auto;
    width: 80%;
    height: auto;
}
.grid-col1 {
    grid-area: 1/1/1/1;
    /* background-color: rgb(249, 211, 142); */
}
.grid-col2 {
    grid-area: 1/2/1/2;
    /* border: solid black 1px; */
    /* background-color: rgb(171, 227, 171); */
}
.grid-row2 {
    width: 100%;
}
.grid-col3 {
    grid-area: 1/3/1/3;
    /* background-color: aqua; */
}
.grid-col1, .grid-col2, .grid-col3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.grid-header {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    padding: 15px 5px;
    font-size: 30px;
}
#group-header, #new-group-header {
    color: var(--pallette-three);
}
.action-button {
    margin-top: 5px;
    padding: 10px 15px;
    font-weight: bold;
    border: outset rgb(142, 143, 143) 3px;
    border-radius: 10px;
    color: var(--pallette-one);
    background-color: var(--button-one);
    cursor: copy;
}
.action-button:hover {
    background-color: var(--button-one-hover);
}
.action-button.back {
    background-color: var(--button-two);
    margin-left: 6px;
    cursor: pointer;
}
.action-button.back:hover {
    background-color: var(--button-two-hover);
}
.create-group {
    background-color: var(--pallette-two);
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.6s ease all;
}
.create-group:hover {
    background-color: var(--pallette-two-hover);
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */
@media only screen and (max-width: 1110px) {
    .grid {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .grid-col1, .grid-col2, .grid-col3 {
        margin-bottom: 20px;
    }
    .pending-invites {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .expense-allocation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
}
@media only screen and (max-width: 500px) {
    .header-flex {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .grid-header {
        font-size: 40px;
    }
    .action-button {
        align-items: center;
        font-size: 16px;
        padding: 16px;
        width: 160px;
    }
}