.group-totals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 25px 0;
    box-sizing: border-box;
}
.group-totals {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
    width: 100%;
}
.group-totals > li {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 5px;
    text-align: center;
    padding: 5px;
    width: 100%;
    min-width: 100px;
    max-width: 280px;
    border: solid black 1px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(209, 241, 253);
}
@media only screen and (max-width: 600px) {
    .group-totals {
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: space-evenly;
        width: 400px;
    }
    .group-totals > li {
        margin: 5px;
        width: 200px;
    }
}