.content {
    display: flex;
    justify-content: space-around;
    margin: 15px auto;
    max-width: 1500px;
    height: 800px
}   
#content-left, #content-right {
    min-width: 400px;
    height: 400px;
    margin: 0 20px;
}
#content-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}
#content-left #text-hero, #text-heading {
    font-weight: bold;
    font-size: 38px;
    padding: 20px 50px 0 60px;
    margin-bottom: 10px;
}
#content-left #text-heading {
    color: var(--pallette-four);
    text-shadow: 2px 2px rgba(86, 54, 11, 0.545);
}
#content-left #text-aside {
    font-size: 20px;
    padding: 20px 60px 0 60px;
    margin-bottom: 30px;
}
#content-left #sign-up {
    width: 220px;
    font-size: 22px;
    padding: 15px;
    margin: 0 0 0 60px;
    color: white;
    font-weight: bold;
    background-color: var(--pallette-three);
    cursor: pointer;
}
#content-left #sign-up:hover {
    background-color: var(--pallette-three-hover)
}
#content-right {
    position: relative;
}
#content-right > img, #overlay {
    width: 100%;
    max-width: 700px;
    height: 100%;
}
@keyframes warp {
    0% {
        background-color: black;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: lime;
    }
    100% {
        background-color: rgb(0, 0, 0);
    }
}
#overlay {
    z-index: 98;
    position: absolute;
    top: 0px;
    opacity: 0.3;
    animation: warp 20s ease-in infinite;
}
#text-aside {
    text-align: justify;
}

@media only screen and (max-width: 1110px) {
    .content {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: auto;
    }
    #content-right > img, #overlay {
        order: 1;
        /* width: 500px; */
        height: 360px;
        border-radius: 10px;
        overflow: hidden;
    }
    #content-left {
        order: 2;
        align-items: center;
        height: auto;
        margin-bottom: 30px;
        width: 100%;
    }
    #content-left #sign-up {
        margin: 0 auto;
    }
  }
  @media only screen and (max-width: 500px) {
    #nav-buttons > a > button {
        padding: 10px 5px;
    }
    .logo {
        margin: 15px 10px 15px 40px;
    }
    #text-heading {
        text-align: center;
    }
    #content-right {
        height: auto;
    }
    #content-right > img, #overlay {
        height: 250px;
    }
  }
  @media only screen and (max-width: 400px) {
    #nav-buttons > a > button {
        padding: 10px 15px;
        font-size: 20px;
    }
    .logo {
        visibility: hidden;
        font-size: 50px;     
        width: 0px;
        margin: 15px 0 0 15px;
    }
    .logo:first-letter {
        visibility: visible;
        text-align: center;
        padding: 5px 15px;
        border: outset rgb(12, 157, 118) 5px;
        border-radius: 90px;
    }
}